@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }

  .login {
    background-color: grey;
    margin: 15px;
  }

  .dropdown {
    width: inherit;
  }

  .dropdown-menu {
    width: 100%;
  }

  .dropdown-item {
    width: inherit;
  }

  #input-group-dropdown {
    width: 100%;
  }
}
